@import './index.scss';

$header-bg: $teal-blue;
$footer-bg: $teal-blue;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  background-color: $header-bg;
  color: white;
  display: flex;
  justify-items:center;
  align-content: center;

  .header-title {
    display: block;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: $footer-bg;
  color: white;
  font-size: small;

  display: flex;

  align-items: center;

  .footer__trademark {
    font-family: cursive;
    float: left;
    position: absolute;
    left: 10px;
  };
  .footer__copyright {
    position: absolute;
    right: 10px;
  };
}