@import "./index.scss"

.banner-box {
  width: 90%;
  display: flex;
  justify-items: center;
  align-items: center;

  &.error {
    background-image: 'xxx';
    background-color: $error;
  }
  &.warn {
    background-image: 'xxx';
    background-color: $warning
  }
  &.info {
    background-image: 'xxx';
    background-color: $info
  }
  &.success {
    background-image: 'xxx';
    background-color: $success
  }
}

.banner__hide {
  display: none;
}
.banner__show {
  display: block;
}

banner__time-container {
  height:2px;
  border-width:1px;
  width: .3em;
  position: absolute;
  top: .8em;
  left: .6em;
  display: flex;

  .time-left {
    border:1 px solid black;
    float: left;
    width: 50%;
  }
  .time-done {
    border:1 px solid white;
    width: 50%;
  }
}