$header-bg: #367588;
header {
  width: 100%;
  // height: 200px;
  background-color: $header-bg;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header-title {
    margin-top:10px;
    font-size: large;
  }
  .header-menu {
    ul {
      list-style-type: none;
      display: flex;

      li {
        float: left;
        padding: 4px 10px 0 10px;
        margin: 0;

        &:last-child {
          float: right;
          margin-left: auto;
          margin-right: 30px;
          }
        }
    }
}
}