.dict-table-container {
  padding: 0 20px 50px 20px;
  margin: 0 50px 50px 25px;
  overflow: auto;
}
.dict-table {
  display: table;
  margin-left: 20px;
  margin-right: 50px;
  font-size: 1rem;

}

.dict-table-caption {
  display: table-caption;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 10px;
  color: #367588;
}

.dict-table-header {
  display: table-caption;
  text-align: center;
  font-size: 1.6rem;

  font-weight: bold;
}

.dict-table-body {
  display: table-row-group;
}

.dict-table-row {
  display: table-row;
}

.dict-table-cell {
  font-size: 0.8rem;
  display: table-cell;
  &:nth-child(1) {
    background-color: lightgray;
    width: 100px;
    text-align: right;

    &::after {
      content: ': '
    }
  }
  &:nth-child(2)  {
    padding-left: 10px;
  }
}




.dict-table-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}



.dict-react {
  border: 1px solid navy;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  // float:left;

  &__ul {
    // list-style-type: &Imacr;
    width: 100%;
    list-style-type: none;

    &::before {
      content: 'general information';
      text-transform: capitalize;
    }
  }

  &__li {
    text-align: left;
    display: block;
    margin: 10px 10px 10px 0;
    padding: 0px;
    position: relative;
    left: -20px;

    height: 40px;

    &__key {
      color: #aaa;
      &::after {
        content: ':';
      }
    }

    &__val {
      padding: 5px;
      color: #555;
      position: absolute;
      left: 100px;
      top: -4px;
      height: 40px;
      overflow: auto;
      display: inline-block;
      overflow-wrap: break-word;
      min-width: 600px;
      font-size: smaller;
    }
  }
}

.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 20px 10px 10px;

  &__bar {
    width: 100%;
    font-size: 1rem;

    &__label {
      padding: 10px 0;
      width: 100%;
      background-color: #367588;
      color: white;
      font-size: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }

    &__label.open {
      &::after {
        content: '\003e';
        float: right;
        margin-right: 10px;
        border: 4px solid red;
      }
    }

    &__label.closed {
      &::after {
        content: '\003e';
        float: right;
        margin-right: 10px;
        transform: rotate(90deg);
        border: 4px solid yellow;
        width: 15px;
        height: 15px;
      }
    }

    &__content {
      width: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: left;
      font-size: smaller;
    }
  }
}

.display-none {
  display: none;
}
